@import "../main/template";

//less than 1800px
@media only screen and (max-width: 1800px) {
  .wrapper {
    .col1 {
      img {
        // width: 700px !important;
        margin-top: 80px;
        align-self: end;
      }
    }
  }
}

//less than 1650px
@media only screen and (max-width: 1650px) {
  .wrapper {
    .col1 {
      img {
        width: 800px !important;
        // position: fixed;
        bottom: 15%;
      }
    }
  }
}

//less than 13000px
@media only screen and (max-width: 1300px) {
  body {
    overflow-y: visible;
    overflow-x: hidden;
  }

  header {
    // position: fixed;
    width: 100%;
    // border: 1px solid blue;
    .mobile-nav {
      width: 80px;
      display: block;
      justify-self: end;
    }
  }

  figure {
    img {
      display: none;
    }
    figcaption {
      display: none;
    }
  }

  #start {
    overflow-y: hidden;
  }

  #year-2011,
  #year-2014,
  #year-2018,
  #year-2020 {
    gap: 0px;
  }

  .wrapper {
    margin-top: -80px;
    .row {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .col1 {
      grid-column: 1/3;
      padding: 0;
      text-align: center;
      padding: 0 !important;
      width: 100%;
      margin-top: 30px;
      img {
        padding: 0 !important;
        width: 50% !important;
      }
    }
    .col2 {
      grid-column: 1/3;
      background: $bg2;
      grid-row: 2;
      margin: 0 auto;
      padding: 0 20px 0 0;
      // height: 80vh;
      padding: 20px !important;
      img {
        width: 30% !important;
      }
      p {
        font-size: 18px;
      }
    }
  }

  .naviBtn {
    // margin-top: 20vh;
  }

  .timeline {
    display: none;
    #years {
      display: none;
    }
  }
}
