$mainBG: #ebeef3;
$bg2: #dae1ec;
$accent: #986dd1;
$fontColor: #38393a;

body {
  color: $fontColor;
  background: $mainBG;
  height: 100vh;
  overflow-y: hidden;
  font-family: "Libre Baskerville", serif;
}
header {
  padding: 20px;
  img {
    width: 200px;
  }
}

.wrapper {
  padding: 80px 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 85vh;
  .col1 {
    display: grid;
    padding: 20px 0;

    img {
      align-self: end;
      width: 900px;
      z-index: 1;
    }
  }
  .col2 {
    padding: 20px;
    text-align: justify;
    .intro {
      font-size: 16pt;
      line-height: 2;
    }
    .next-btn {
      padding: 20px 0;
      button {
        font-family: "Libre Baskerville", serif;
        color: $fontColor;
        background: $accent;
        font-size: 20pt;
        width: 130px;
        height: 50px;
        border-radius: 10px;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition-duration: 0.4s;
        &:hover {
          background-color: $bg2;
          color: $accent;
          cursor: pointer;
        }
        &:focus {
          outline: 0;
        }
      }
    }
  }
}

.timeline {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: rgb(201, 201, 201);
  padding: 0;
  font-size: 30pt;
  .col3 {
    z-index: -1;
    grid-column: 1/4;
    margin-top: -180px;
    padding-left: -20px !important;
    img {
      padding: 0;
      width: 100%;
    }
  }
  .years {
    z-index: 1;
    grid-column: 3;
    grid-row: 2;
    margin-top: -140px;
    li {
      padding: 0 10px;
      display: inline;
      font-size: 23pt;
    }
    .active {
      color: $accent;
    }
  }
}
