//import all the variables for colors
@import "template";

body {
  color: $fontColor;
  background: $mainBG;
  height: 100vh;
  overflow-y: hidden;
  font-family: "Libre Baskerville", serif;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  .logo {
    width: 200px;
  }
  .mobile-nav {
    display: none;
  }
}

//font scale
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}

//Main
#year-2011,
#year-2014,
#year-2018,
#year-2020 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: none;
  height: 90vh;
  gap: 20px;
  .col1 {
    margin-top: 20px;
    align-self: end;
    img {
      width: 800px;
      z-index: 1;
    }
  }
  .col2 {
    padding: 20px 40px 0 0;
    text-align: justify;
    .intro {
      padding-top: 20px;
      height: 500px;
      font-size: 16pt;
      line-height: 2;
      p {
        padding-bottom: 20px;
      }
    }
  }
  .active {
    display: block;
  }
  .hidden {
    display: none;
  }
}

.timeline {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: rgb(201, 201, 201);
  padding: 0;
  font-size: 30pt;
  .col3 {
    z-index: -1;
    grid-column: 1/5;
    margin-top: -180px;
    padding-left: -20px !important;
    img {
      padding: 0;
      width: 100%;
    }
  }
  #years {
    z-index: 1;
    grid-column: 3/5;
    grid-row: 2;
    margin-top: -140px;
    text-align: center;
    li {
      padding: 0 10px;
      display: inline;
      font-size: 23pt;
    }
    .active {
      color: $accent;
    }
  }
}

#start {
  display: grid;
  text-align: center;
  grid-template-columns: 3fr 6fr 3fr;
  height: 100vh;
  place-self: center;

  cursor: pointer;
  h1 {
    align-self: center;
  }
  figure {
    align-self: center;
    padding: 0 20px;

    img {
      width: 100%;
      border-radius: 15px 50px;
    }
  }
}

.naviBtn {
  background: $accent;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  button {
    font-family: "Libre Baskerville", serif;
    color: $fontColor;
    background: $accent;
    font-size: 20pt;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: block;
    transition-duration: 0.4s;
  }
  &:hover {
    background-color: $bg2;
    color: $accent;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  &:focus {
    outline: 0;
  }
}
